* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway';
}
body {
    max-width: 1510px;
    max-height: 4549px;
    width: 100%;
    margin: auto;
}

header {
    max-width: 1510px;
    z-index: 1;
    width: 100%;
    position: absolute;
    justify-content: center;
}

.container {
    max-width: 1170px;
    margin-left: 11.3%;
    border-bottom: 1px solid silver;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    width: 60.938vw;
    height: 10.775vh;
}

.active_box {
    margin:.6% 0 0 0;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 14.063vw;
    height: 10.775vh;
}

.active_box a img#active {
    width: 6.273vw;
    height: 2.749vh;
}

.active_box a img#box {
    width: 3.1462vw;
    height: 2.747vh;
}

ul.main_menu {
    margin: 5.5% 0% 0% 34.3%;
    width: 34.896vw;
    height: 6.725vh;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
}

li button {
    width: 6.9799vw;
    height: 2.989vh;
    display: list-item;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    background: none;
    border: none;
}

.banner {
    height: 79.724vh;
    position: relative;
    justify-content: start;
    background: url(/img/header/header-image.svg) no-repeat;
}

.banner_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner_section::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 43, 73, 0.8);
}

h1,
h6 {
    text-align: center;
}

@font-face {
    font-family: 'Raleway';
    src: url(/fonts/Raleway-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(/fonts/Raleway-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}


.banner .banner_section {
    color: #FFFFFF;
}

.banner .banner_section h1 {
    position: absolute;
    max-width: 1170px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    z-index: 1;
    margin: 0 0 9.1% 0;
}

.banner .banner_section h6 {
    position: absolute;
    max-width: 1170px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    z-index: 1;
    margin: 9% 16% 0% 16%;
}

.banner .banner_section button {
    position: absolute;
    margin: 28.3% 0 0 0;
    z-index: 1;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    background-color: #ff4343;
    color: #FFFFFF;
    border: none;
    width: 19.219vw;;
    height: 8.28vh;
}

.banner .banner_section button:hover {
    cursor: pointer;
    background: #E71414;
    transition: 0.5s;
}

.banner .banner_section button:active {
    cursor: pointer;
    background: #FF4343;
    box-shadow: 4px 4px 30px #FF4343;
    transition: 0.5s;
}

.top-nav-container:hover {
    border-bottom: 3px solid silver;
}

.top-nav-container:active {
    border-bottom: 3px solid #E71414;
    transition: 0.4s;
}
.top-nav-container button:active{
    color: #E71414;
    transition: 0.4s;
}

.features_container {
    max-width: 1510px;
    height: 101.281vh;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 2fr);
    justify-items: center;
    gap: 5.65rem 2rem;
    padding: 7.25rem 10.625rem;
}

div.features>div {
    height: 32.598vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

div.features>div h4 {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

div.features>div h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

div.features>div img {
    width: 24.554%;
    height: 32.3%;
}

.work_container {
    max-width: 1510px;
}

.work_photos {
    height: 72.36vh;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2, 2fr);
    align-items: center;
    justify-items: center;
    gap: 2px;
    padding: 0px;
    transition-duration: 0.5s;
}

.work_photos a,img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work_photos a>img:hover {
    transition: 0.8s;
    opacity: 0.5;
}

.work_photos a:hover {
    background: rgb(255, 67, 67);
    z-index: 1;
}

.work_photos a>img:active {
    transition: 1.2s;
    opacity: 0.1;
}

.work_photos a:active {
    background: rgb(185, 12, 12)
}

.work_text {
    opacity: 1;
    z-index: -1;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    height: 36.287vh;
    width: 19.688vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 6.9rem 0;
}

.work_text h4 {
    text-transform: uppercase;
}

.work_text h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.our_team {
    max-width: 1510px;
}

.profiles {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2, 2fr);
    height: 89.969vh;
    padding: 7.5rem 10.6rem;
    gap: 1.7rem 1.9rem;
}

.worker_info h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0.7vh;
}

.worker_info h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.bottom_text{
    margin-bottom: 4vh;
}

.post {
    color: #FF4343;
    text-transform: uppercase;
    margin-bottom: 2vh;
}

.emblems {
    display: flex;
    gap: 0.38rem;
    width: 39px;
    height: 39px;
}

.emblems img {
    border: 1px solid#C6CBCD;
}

.testimonials {
    max-width: 1510px;
}

.slider_outer {
    position: relative;
    overflow: hidden;
    height: 57.1vh;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.slider_nav {
    width: 14px;
    height: 14px;
    margin: 0 12.5px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    outline: 1px solid #7E5D6F;
    outline-offset: -1px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgb(51 51 51 / 0%);
    appearance: none;
    backface-visibility: hidden;
}

@keyframes check {
    50% {
        outline: 7px solid #7E5D6F;
        outline-offset: -7px;
    }

    100% {
        outline: 7px solid #7E5D6F;
        outline-offset: -7px;
    }
}

.slider_nav:checked {
    animation: check .5s linear forwards;
}

.slider_nav:checked:nth-of-type(1)~.slider_inner {
    left: 0%;
}

.slider_nav:checked:nth-of-type(2)~.slider_inner {
    left: -100%;
}

.slider_nav:checked:nth-of-type(3)~.slider_inner {
    left: -200%;
}

.slider_nav:checked:nth-of-type(4)~.slider_inner {
    left: -300%;
}

.slider_nav:checked:nth-of-type(5)~.slider_inner {
    left: -400%;
}

.slider_inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 91.6%;
    width: 200%;
    transition: left 0.4s;
    display: flex;
    flex-flow: row nowrap;
}

.slide {
    display: flex;
    max-width: 1510px;
}

.left_side {
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 48.18vw;
    z-index: 1;
}


#ls1 {
    background: url(/img/testimonials/testimonials-left.svg) no-repeat;
    background-size: 100% 100%;
}

#rs1 {
    background-color: #5C3249;
}

#ls2 {
    background: url(/img/testimonials/gigachad-1.jpg) no-repeat;
    background-size: 100% 100%;
}

#rs2 {
    background-color: gray;
}

#ls3 {
    background: url(/img/testimonials/smile.png) no-repeat;
    background-size: 100% 100%;
}

#rs3 {
    background-color: gray;
}

#ls4 {
    background: url(/img/testimonials/cat.jpg) no-repeat;
    background-size: 100% 100%;
}

#rs4 {
    background-color: gray;
}

#ls5 {
    background: url(/img/testimonials/Thanos.png) no-repeat;
    background-size: 100% 100%;
}

#rs5 {
    background-color: gray;
}

.right_side {
    position: relative;
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
}

.right_side h6 {
    margin:1.8% 29% -0.1% 0%;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
}

.right_side h2 {
    margin: 1.2% 13% 1.5% 16.7%;
    font-family: 'Cardo', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-transform: capitalize;
}
.download {
    max-width: 1510px;
    width: 100vw;
    height: 53.042vh;
}

.download_section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.download_section h5 {
    margin-bottom:1.6%;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.download_section h3 {
    margin-top: 10.7%;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}

.download .download_section button {
    margin: 0 0 7.2%;
    z-index: 1;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 1%;
    background-color: #ff4343;
    color: #FFFFFF;
    border: none;
    width: 24.488%;
    height: 15.607%;
}

.download .download_section button:hover {
    cursor: pointer;
    background: #E71414;
    transition: 0.5s;
}

.download .download_section button:active {
    cursor: pointer;
    background: #FF4343;
    box-shadow: 4px 4px 30px #FF4343;
    transition: 0.5s;
}

.location_social_about {
    background-color: #353C65;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1510px;
    width: 100vw;
    height: 26.682vh;
}

.location {
    display: flex;
    flex-direction: column;
    width: 19.271vw;
    height: 7.578vh;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.1%;
}

#up {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

#down {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 19.271vw;
    height: 11.618vh;
}

.emblems_footer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 39px;
    height: 39px;
}

.emblems_footer img {
    border: 1px solid#C6CBCD;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 19.271vw;
    height: 12.0297vh;
}

.copyright {
    display: flex;
    max-width: 1510px;
    width: 100vw;
    height: 9.606vh;
    background: #2C3154;
    align-items: center;
    justify-content: center;
}

.copyright h5 {
    color: #808080;
    text-align: center;
    width: 19.271vw;
    height: 4.484vh;
}

.copyright h5 span {
    color: #FFFFFF;
}