* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway';
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

header {
    max-width: 1510px;
    z-index: 1;
    width: 100%;
    position: absolute;
}

head,
body,
footer {
    max-width: 1510px;
    margin: 0 auto;
}

.UP_900 {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.UP_400 {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3125rem;
}

.container {
    max-width: 1170px;
    max-height: 100.95px;
    margin: auto;
    border-bottom: 1px solid silver;
    display: flex;
    justify-content: space-between;
}

.active_box {
    align-items: center;
    display: flex;
}

.active_box a img#active {
    width: 64.72%;
}

.active_box a img#box {
    width: 32.461%;
}

.topnav a {
    float: left;
    display: block;
    padding: 2.54rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid silver;
}

.topnav a:active {
    border-bottom: 3px solid #E71414;
    color: #E71414;
    transition: 0.4s;
}

.topnav .icon {
    display: none;
}

.banner {
    height: 46.688rem;
    position: relative;
    background: url(../img/header/header-image.svg) no-repeat;
    background-size: cover;
}

.banner_section {
    height: 100%;
}

.banner_section::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(37, 43, 73, 0.8);
}

.banner_center {
    max-width: 1170px;
    margin: auto;
    height: 114%;
    display: grid;
    gap: 7%;
    justify-items: center;
    align-content: center;
    text-align: center;
}

.banner .banner_section {
    color: #FFFFFF;
}

.banner .banner_section h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
    line-height: 4.6875rem;
    z-index: 1;
}

.banner .banner_section h6 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    z-index: 1;
}

.banner .banner_section button {
    z-index: 1;
}

button {
    width: 23.063rem;
    height: 4.849rem;
    text-transform: uppercase;
    background-color: #ff4343;
    color: #FFFFFF;
    border: none;
}

button:hover {
    cursor: pointer;
    background: #E71414;
    transition: 0.5s;
}

button:active {
    cursor: pointer;
    background: #FF4343;
    box-shadow: 4px 4px 30px #FF4343;
    transition: 0.5s;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 2fr);
    justify-items: center;
    gap: 5.65rem 2rem;
    padding: 7.25rem 10.625rem;
}

div.features>div {
    height: 19.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

div.features>div h4 {
    text-transform: uppercase;
}

div.features>div img {
    width: 5.625rem;
    height: 5.625rem;
}

.work_photos {
    height: 42.375rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}

.work_photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work_photos a>img:hover {
    transition: 0.8s;
    opacity: 0.5;
}

.work_photos a:hover {
    background: rgb(255, 67, 67);
    z-index: 1;
}

.work_photos a>img:active {
    transition: 1.2s;
    opacity: 0.1;
}

.work_photos a:active {
    background: rgb(185, 12, 12);
}

.work_text {
    opacity: 1;
    z-index: -1;
    color: #FFFFFF;
    height: 21.643rem;
    width: 23.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 6.9rem 0;
}

.work_text h4 {
    text-transform: uppercase;
}

.our_team {
    height: 52.938rem;
    display: flex;
    align-items: center;
}

.profiles {
    display: flex;
    height: 73.0814%;
    align-items: flex-end;
    margin: 0% 10.2%;
}

.order {
    height: 100%;
}
.worker_info {
    height: 56.381%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 700;
}
.worker_info h4 {
    font-weight: 700;
}

.post {
    color: #FF4343;
    text-transform: uppercase;
}

.emblems img {
    border: 1px solid#C6CBCD;
    height: 139.3%;
}

.slider_outer {
    position: relative;
    overflow: hidden;
    height: 33.438rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.slider_nav {
    width: 0.875rem;
    height: 0.875rem;
    margin: 0 0.78125rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    outline: 1px solid #7E5D6F;
    outline-offset: -1px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgb(51 51 51 / 0%);
    appearance: none;
}

@keyframes check {
    50% {
        outline: 7px solid #7E5D6F;
        outline-offset: -7px;
    }

    100% {
        outline: 7px solid #7E5D6F;
        outline-offset: -7px;
    }
}

.slider_nav:checked {
    animation: check .5s linear forwards;
}

.slider_nav:checked:nth-of-type(1)~.slider_inner {
    left: 0%;
}

.slider_nav:checked:nth-of-type(2)~.slider_inner {
    left: -100%;
}

.slider_nav:checked:nth-of-type(3)~.slider_inner {
    left: -200%;
}

.slider_nav:checked:nth-of-type(4)~.slider_inner {
    left: -300%;
}

.slider_nav:checked:nth-of-type(5)~.slider_inner {
    left: -400%;
}

.slider_inner {
    position: absolute;
    top: 0;
    height: 91.5887%;
    transition: left 0.4s;
    display: flex;
}

.slide {
    display: flex;
    width: 94.375rem;
    color: #FFFFFF;
    background-color: #5C3249;
}

.left_side {
    width: 49.0728%;
}
.ls1 {
    background: url(../img/testimonials/testimonials-left.png) no-repeat;
    background-size: 100% 100%;
}

.ls2 {
    background: url(../img/testimonials/gigachad-1.jpg) no-repeat;
    background-size: 100% 100%;
}

.rs {
    background-color: gray;
}

.ls3 {
    background: url(../img/testimonials/smile.png) no-repeat;
    background-size: 100% 100%;
}

.ls4 {
    background: url(../img/testimonials/cat.jpg) no-repeat;
    background-size: 100% 100%;
}

.ls5 {
    background: url(../img/testimonials/Thanos.png) no-repeat;
    background-size: 100% 100%;
}

.right_side_text {
    display: flex;
    width: 50.9271%;
    padding: 0 10%;
    gap: 7%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.right_side_text h2 {
    font-family: 'Cardo', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 3.0625rem;
    text-transform: capitalize;
}

.right_side_text h6 {
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
}

.download {
    height: 31.063rem;
}

.download_section {
    height: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 8%;
}

.download_section h5 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    text-transform: uppercase;
}

.download_section h3 {
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.1875rem;
}

footer {
    height: 21.25rem;
}

.location_social_about {
    background-color: #353C65;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73.529%;
}

.location {
    display: flex;
    flex-direction: column;
    width: 24.504%;
    height: 28.402%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.1%;
}

.up {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    text-transform: uppercase;
}

.down {
    text-transform: capitalize;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 24.504%;
    height: 43.55%;
}

.emblems_footer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 24.504%;
    height: 45.09%;
}

.copyright {
    display: flex;
    height: 26.470%;
    background: #2C3154;
    align-items: center;
    justify-content: center;
}

.copyright h5 {
    color: #808080;
    text-align: center;
    width: 24.504%;
}

.copyright h5 span {
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .UP_900 {
        font-size: 1.125rem;
        line-height: 1.3125rem;
    }

    .UP_400 {
        font-size: 0.875rem;
        line-height: 1rem;
    }
    .container {
        max-width: 1024px;
        width: 96%;
        margin: auto;
    }

    .topnav a {
        padding: 2.54rem 1.3rem;
        font-size: 0.75;
        line-height: 0.875rem;
    }

    .banner {
        max-width: 1024px;
        height: 48rem;
        background: url(../img/header/header-image-1024.svg) no-repeat;
    }

    .banner_center {
        max-width: 984px;
        height: 120%;
    }

    .banner .banner_section h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .banner .banner_section h6 {
        font-size: 1.125rem;
        line-height: 1.3125rem;
        padding: 0rem 7rem;
    }

    button {
        width: 19.573rem;
    }

    .features_container {
        height: 42.6rem;
    }

    .features {
        gap: 0.65rem 0.6rem;
        padding: 2rem 1.2rem;
    }

    div.features>div {
        justify-content: space-evenly;
    }

    .work_photos {
        height: 28.737rem;
    }

    .work_text {
        height: 14.412rem;
        width: 16.022rem;
        padding: 4.3rem 0;
    }

    .our_team {
        height: 42.327rem;
    }

    .profiles {
        height: 76.873%;
        margin: 0% 0% 0% 3%;
    }

    .order>img {
        width: 88.703%;
    }

    .worker_info {
        width: 89.404%;
        justify-content: space-evenly;
    }

    .slider_outer {
        height: 22.843rem;
    }

    .slider_nav {
        width: 9.49px;
        height: 9.49px;
    }

    @keyframes check {
        50% {
            outline: 4.5px solid #7E5D6F;
            outline-offset: -5px;
        }

        100% {
            outline: 4.5px solid #7E5D6F;
            outline-offset: -5px;
        }
    }

    .slide {
        width: 64rem;
    }

    .right_side_text h6 {
        font-size: 0.75rem;
        line-height: 0.875rem;
    }

    .right_side_text h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .download {
        height: 24.558rem;
    }

    .download_section h5 {
        font-size: 0.875rem;
        line-height: 1rem;
    }

    footer {
        height: 14.333rem;
    }

    .location_social_about {
        justify-content: space-around;
    }

    .location {
        gap: 26%;
    }

    .up {
        font-size: 0.875rem;
        line-height: 1rem;
    }

    .about {
        gap: 26%;
    }
}

@media screen and (max-width: 780px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        display: block;
        padding: 0.84rem 1.3rem;
        margin-left: 14.6rem;
    }

    .topnav a:hover {
        border-bottom: none;
    }

    .topnav.responsive {
        position: absolute;
        padding: 8rem 12rem 0rem 0rem;
    }

    .topnav.responsive a.icon {
        position: relative;
        float: right;
        margin: -103% -133% 0% 0%;
        overflow: hidden;

    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        padding: 1rem;
        transition: none;
    }

    .banner_section.responsive .banner_center {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .container {
        border: none;
    }

    .active_box {
        position: absolute;
    }

    .active_box a {
        padding: 10.7%;
    }

    .active_box a img#active {
        width: 47.72%;
    }

    .active_box a img#box {
        width: 22.361%;
    }

    .banner {
        max-width: 320px;
        max-height: 574px;
    }

    .banner .banner_section h1 {
        font-size: 2.25rem;
        line-height: 2.625rem;
    }

    .banner .banner_section h6 {
        font-size: 0.875rem;
        line-height: 1rem;
        padding: 0rem 1rem;
    }

    button {
        width: 17.5rem
    }

    .features_container {
        height: 96.384rem;
    }

    .features {
        grid-template-columns: 1fr;
    }

    div.features>div {
        height: 13.846rem;
    }

    .work_photos {
        height: 36rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .work_text {
        height: 7.412rem;
        width: 10.022rem;
        padding: 4.6rem 0;
    }

    .our_team {
        height: 145.5rem;
    }

    .profiles {
        height: 96.7353%;
        margin: 0% 0% 0% 9%;
        flex-direction: column;
        gap: 3%;
    }

    .slider_outer {
        height: 35.656rem;
    }

    .slide {
        width: 20rem;
        flex-direction: column;
    }

    .left_side {
        height: 39.4052%;
        width: 100%;
    }

    .right_side_text {
        height: 60.5947%;
        width: 100%;
        padding: 7% 7%;
        text-align: center;
        justify-content: start;
    }

    .download {
        height: 19.75rem;
    }

    .download_section {
        text-align: center;
        padding: 0 6%;
    }

    .download_section h3 {
        font-size: 1.125rem;
        line-height: 1.3125rem;
    }

    .download_section h5 {
        font-size: 0.8125rem;
        line-height: 0.9375rem;
    }

    footer {
        height: 33.75rem;
    }

    .location_social_about {
        flex-direction: column;
        height: 80%;
    }

    .location {
        width: 100%;
        justify-content: center;
    }

    .social {
        width: 100%;
        justify-content: space-around;
    }

    .emblems_footer {
        gap: 0.95rem;
    }

    .about {
        width: 100%;
        justify-content: center;
        padding: 0 9%;
    }

    .copyright {
        height: 20%;
    }

    .copyright h5 {
        width: initial;
    }
}